<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Full-Stack Solution For MEAN Applications
			</p>
		</div>
        <!-- Learn More button
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
			</p>
		</div>
		-->
	</div>

    <!-- Responsive columns -->
	<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>U</strong>ser Interface
			</h2>
			<p>
            </p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>D</strong>esign
			</h2>
			<p></p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>A</strong>PI
			</h2>
			<p></p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>D</strong>ocumentation
			</h2>
			<p></p>
		</div>
	</div>

	<div class="well">
		<h2>History of Development</h2>
		<p>
			This is the list of development history
			<ul>
				<li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
				</li>
				<li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
				</li>
			</ul>
		</p>
	</div>

	<!--
    <br>Enjoy &amp; Keep Us Updated,
	<br>The MEAN.JS Team.
	-->

</section>
