<section data-ng-controller="HomeController">
    <br><br><br>
    <banner-front></banner-front>
	<!--
    <div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Baby Monthly Subscription e-Commerce project
			</p>
		</div>

		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
			</p>
		</div>

	</div>
    -->

    <!-- Responsive columns
	<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>U</strong>ser Interface
			</h2>
			<p>
                Must be simple to use
            </p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>D</strong>esign
			</h2>
			<p>
                Responsive Design--compatibility all kind of platforms
			</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>A</strong>PI
			</h2>
			<p>
                Backend Communication by using NodeJS and Express
			</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>D</strong>ocumentation
			</h2>
			<p>
                All of code, history update and documentation is on the README
                <a href="https://github.com/kruny1001/pbshop">Github</a>
			</p>
		</div>
	</div>
    <hr/>
    -->
	<div class="well">
		<h2>History of Development</h2>
		<p>
			This is the list of development history

			<ul>
				<li><a target="_blank" href="/#!/galleries/gview"><h3>User Interface (animation)</h3></a>
				</li>
                <li><a target="_blank" href="/#!/menulist"><h3>Contents Listing</h3></a>
                </li>
            </ul>
		</p>
	</div>
</section>
