<section data-ng-controller="HomeController">

    <!--
    <div class="navbar-content-padding">
        <div class="base-jumbo-content">
            <div class="feature">
                <img class="feature-img" ng-src="modules/galleries/img/avatar-01.svg"/>
                <h4>Convenient</h4>
                <p class="stitched">Get the montly subscription from the comfort of your home. It takes about 5 minutes</p>
            </div>
            <div class="feature">
                <img class="feature-img" ng-src="modules/galleries/img/avatar-02.svg"/>
                <h4>Affordable</h4>
                <p class="stitched">Our Montly order is $20 for a 4 clothes</p>
            </div>
            <div class="feature">
                <img class="feature-img" ng-src="modules/galleries/img/avatar-03.svg"/>
                <h4>Fashionable</h4>
                <p class="stitched">A real retail stores provide your kids clothes</p>
            </div>
        </div>
    </div>
    <div class="back-text-anni">
        <div class="core-text-anni">Quick Delivery</div>
        <div class="core-text-anni">Reasonalble Price</div>
        <div class="core-text-anni">Fashionable</div>
        <div class="core-text-anni">Love Kids</div>
    </div>
    <div class="second-content-padding">
        <div class="base-jumbo-content">
            <div class="feature">
                <img class="feature-img" ng-src="modules/galleries/img/avatar-04.svg"/>
                <h4>Convenient</h4>
                <p class="stitched">Get the montly subscription from the comfort of your home. It takes about 5 minutes</p>
            </div>
            <div class="feature">
                <img class="feature-img" ng-src="modules/galleries/img/avatar-05.svg"/>
                <h4>Affordable</h4>
                <p class="stitched">Our Montly order is $20 for a 4 clothes</p>
            </div>
            <div class="feature">
                <img class="feature-img" ng-src="modules/galleries/img/avatar-06.svg"/>
                <h4>Fashionable</h4>
                <p class="stitched">A real retail stores provide your kids clothes</p>
            </div>
        </div>
    </div>
    -->

	<!--
    <div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Baby Monthly Subscription e-Commerce project
			</p>
		</div>

		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
			</p>
		</div>

	</div>
    -->
    <br><br><br>
    <div class="core-title">Research</div>
	    <div class="well" style="margin:20px;">
            <div class="core-subtitle">R</div>
            <ul>
                <li><a href="/#!/gwas-t1"><h4><span class="glyphicon glyphicon-asterisk"></span> rChart Examples</h4></a></li>
            </ul>
        </div>
    </div>

    <div class="core-title">History of Research</div>
    <div class="well" data-ng-controller="PlanController" style="margin:20px;">
        <div class="core-subtitle">Plan</div>
        <ul>
            <li ng-repeat="plan in plans"><a  data-ng-href="#!/articles/{{plan._id}}"><h4><span class="glyphicon glyphicon-asterisk"></span> {{plan.title}} <small> by {{plan.user.displayName}}
                (<span data-ng-bind="plan.created | date:'mediumDate'"></span>)
            </small></h4></a></li>
        </ul>
    </div>

    <div class="core-title">History of Development</div>
    <div class="well" style="margin:20px;">
        <div class="core-subtitle">UI</div>
        <ul>
            <li><a  href="/#!/gwas-data/gwas-data-start"><h4><span class="glyphicon glyphicon-asterisk"></span> Users Management Dashboard</h4></a></li>
            <li><a  href="/#!/draggable"><h4><span class="glyphicon glyphicon-asterisk"></span> Draggable Interface </h4></a></li>
            <li><a  href="/#!/galleries/create"><h4><span class="glyphicon glyphicon-asterisk"></span> Editor Module</h4></a></li>

            <li><a  href="/#!/galleries/gview"><h4><span class="glyphicon glyphicon-asterisk"></span> User Interface (animation)</h4></a></li>
            <li><a  href="/#!/menulist"><h4><span class="glyphicon glyphicon-asterisk"></span> Contents Listing</h4></a></li>
            <li><a  href="/#!/setrowcol"><h4><span class="glyphicon glyphicon-asterisk"></span> Mobile Friendly page with admin functionality</h4></a></li>
            <li><a  href="/#!/menulist/menuform"><h4><span class="glyphicon glyphicon-asterisk"></span> Quiz(Wizard) Based Registration</h4></a></li>
        </ul>
        <hr/>
        <div class="core-subtitle">API</div>
        <ul>
            <li><a target="_blank" href="/galleries"><h4><span class="glyphicon glyphicon-asterisk"></span> API Call 1</h4></a></li>
            <li><a target="_blank" href="/users/all"><h4><span class="glyphicon glyphicon-asterisk"></span> API Call 2</h4></a></li>
        </ul>
    </div>

    <h2>YouTube Directive</h2>
    <br />
    <youtube width="{{yt.width}}" height="{{yt.height}}" videoid="{{yt.videoid}}"></youtube>
    <br />
    Width:<input type="text" ng-model="yt.width">
    Height:<input type="text" ng-model="yt.height">
    Videoid:<input type="text" ng-model="yt.videoid">

    <br />
    <button ng-click="sendControlEvent(YT_event.PLAY)">Send Play</button>
    <button ng-click="sendControlEvent(YT_event.PAUSE)">Send Pause</button>
    <button ng-click="sendControlEvent(YT_event.STOP)">Send Stop</button>

    <p>Player status is: {{yt.playerStatus}}</p>

</section>
