<section data-ng-controller="Brazil2sController" data-ng-init="find()">
    <div class="page-header">
        <h1>Brazil2s</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="brazil2 in brazil2s" data-ng-href="#!/brazil2s/{{brazil2._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="brazil2.created | date:'medium'"></span>
				by
				<span data-ng-bind="brazil2.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="brazil2.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!brazil2s.$resolved || brazil2s.length">
    	No Brazil2s yet, why don't you <a href="/#!/brazil2s/create">create one</a>?
    </div>
</section>