
html body {
  background: #ebeced;
}

body {
  max-width:1200px;
  margin: auto;
}

.container-top {
  margin-top:10px;
}

.sample {
  background: $brand-success;
}

.navbar {
  background: -webkit-linear-gradient(top,#454B56,#393F48);
  color: rgba(255,255,255,0.85);
}

footer[role="contentinfo"]{
  clear:both;
}