
#ddak{
  font-family:Asap;
  //background-color:#333;
  color:white;
  margin:5px;
}

#banner {
  position:relative;
  -webkit-backface-visibility:hidden;
  width:300px;
  height:250px;
  background:white;
  overflow:hidden;
}

.ddak-panel {
  position:absolute;
  width:300px;
  height:250px;
  overflow:hidden;

}

#panel1 {
  background: #7dd32a;

}

#panel2 {
  top:260px;
  background: url(http://www.ilbe.com/files/attach/new/20140721/377678/131058918/3931386396/0ee4054960260a01db4270055b09e62b.JPG);
  background-size: 100% 100%;
}

#panel1 h1 {
  position: relative;
  font-size:40px;
  line-height:240px;
  text-align:center;
  width:300px;
}

#panel2 h2{
  margin: 0;
  position: absolute;
  top: 188px;
  width: 100%;
  font-size: 22px;
  text-align: center;
  padding: 20px;
  background: #7dd32a;
}

#panel3 {
  top:520px;
}

#panel3 #info{
  position:absolute;
  top:115px;
  width:100%;
  padding:10px;
  height:125px;
  background: #7dd32a;
}

#panel3 h1 {
  font-size:34px;
  font-weight:700;
  letter-spacing: 1px;
}

#panel3 li {
  position:relative;
  margin-top:10px;
  color: #ffffff;
}

#panel3 #orderNow {
  position:absolute;
  top:75px;
  left:188px;
  background: #ffc318;
  color: #ffffff;
  font-size:16px;
  font-weight:bold;
  padding:10px;
  border-radius:10px;
  border: 4px solid transparent;
}

#panel3 #orderNow:hover {
  background:#ffaa00;
  border: 4px solid #fff;
  cursor: pointer;
}