
#ddak{
  font-family:Asap;
  //background-color:#333;
  color:white;
  margin:1px;
  width:235px;
  height:250px;
}

#banner {
  position:relative;
  -webkit-backface-visibility:hidden;
  height:250px;
  background:white;
  overflow:hidden;
}

.ddak-panel {
  font-family: 'Nanum Pen Script', serif;
  position:absolute;

  min-width:235px;
  height:100%;
  overflow:hidden;
}

#panel1 {
  font-size: 45px;
  background: #7dd32a;

}

#panel1-2 {
  background: #7dd32a;
}

#panel2 {
  font-size: 45px;
  top:260px;
  background: url(http://www.ilbe.com/files/attach/new/20140721/377678/131058918/3931386396/0ee4054960260a01db4270055b09e62b.JPG);
  background-size: 100% 100%;
}

#panel2-1 {
  top:260px;
  background: url(http://www.ilbe.com/files/attach/new/20140910/377678/1268442755/4270502453/16a09fefebab8830abfc7228c6c9f683.jpeg);
  background-size: 100% 100%;

}

#panel1 h1 {
  position: relative;
  font-size:50px;
  line-height:240px;
  text-align:center;
  min-width:235px;
  max-height: 300px;
}

#panel1-2 h1 {
  font-family: 'Hanna', serif;
  position: relative;
  font-size:25px;
  line-height:240px;
  text-align:center;
  width:300px;
}


#panel2 h2{
  font-family: 'Hanna', serif;
  margin: 0;
  position: absolute;
  top: 188px;
  width: 100%;
  font-size: 22px;
  text-align: center;
  padding: 20px;
  background: #7dd32a;
}

#panel2-1 h2 {
  font-family: 'Hanna', serif;
  margin: 0;
  position: absolute;
  top: 188px;
  width: 100%;
  font-size: 22px;
  text-align: center;
  padding: 20px;
  background: #7dd32a;
}


#panel3 {
  top:520px;
}

#panel3 #info{
  position:absolute;
  top:115px;
  min-width:235px;
  max-width:300px;
  padding:10px;
  height:125px;
  background: #7dd32a;
}

#panel3 h1 {
  font-family: 'Hanna', serif;
  font-size:37px;
  color: #2a3d29;
  font-weight:300;
  letter-spacing: 1px;
}

#panel3 li {
  font-family: 'Hanna', serif;
  position:relative;
  color: #2a3d29;
}

#panel3 #orderNow {
  font-family: 'Hanna', serif;
  position:absolute;
  top:75px;
  left:147px;
  background: #ffc318;
  color: #ff3c38;
  font-size:16px;
  font-weight:bold;
  padding:10px;
  border-radius:10px;
  border: 4px solid transparent;
}

#panel3 #orderNow:hover {
  background:#ffaa00;
  color: #ff472e;
  border: 4px solid #ffffff;
  cursor: pointer;
}


//////////////////////
.product {
  font-family: 'Hanna', serif;
  display:inline-block;
  color: #2a3d29;
  font-size:45px;
  font-weight:300;
}

.suffix {
  display:inline-block;
  font-family: 'Hanna', serif;
  font-size:34px;
  font-weight:400;
  color:#86CC01;
  font-weight:300;
}

.tagline {
  display:inline-block;
  font-family: 'Hanna', serif;
  margin-left:20px;
  font-size:24px;
  color: #2a3d29;
}

#demo {
  text-align:center;
  position:relative;
  visibility:hidden;
}

#controls {
  margin-top:35px;
  text-align: center;
}

.slider {
  width:420px;
  margin:auto;
}
.sliderValues {
  margin:10px;
}

.sliderValues span {
  font-size:24px;
}

#timeScaleSlider {
  width:260px;

}

button {
  padding:1em;
  margin:20px 0 10px 0;
  font-size:12px;
  cursor:pointer;
}

#ganJab li {
  display:inline-block;
  font-family: 'Nanum Pen Script', serif;
  margin-right:5px;
  font-size:17px;
  color:#aaa;
}

.ui-widget-content {
  //background-color:rgba(255, 255, 255, 0.2);
}

.link {
  display:inline-block;
  padding-top:20px;
  text-decoration:none;
}

a.link:link, a.link:visited {
  color:rgba(255, 100, 0, 0.3);
}

a.link:hover {
  color:rgba(255, 100, 0, 0.95);
}