@import url(http://fonts.googleapis.com/css?family=Fredoka+One);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

@mixin content-mainpage($color1, $color2) {
  min-width: 872px;

  padding: 51px 0 80px;
  background: linear-gradient(to bottom, $color1, $color2);
  height: 300px;
  .base-jumbo-content{ //section inner
    height: 300px;
    display:table;
    margin:0 auto;
    padding:0 20px;
    text-align: center;
    .feature {
      display:table-cell;
      padding:10px 30px;
      width:300px;
      color: #ffffff;
      font-family: 'Bree Serif', serif;
      color: #ffffff;
      .feature-img{
        display:inline-block;
        border-radius: 20px;
        width:130px;
      }
      .desc{
        text-align:"center";
      }
    }
  }
}

.navbar-content-padding{
  margin-top:50px;
  @include content-mainpage(#86c802,#55a700);
}

.second-content-padding {
  @include content-mainpage(#00a4c8, #0073b2);
}

.stitched {
    padding: 2px;
    margin: 5px;
    background: #ff0030;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3em;
    border: 2px dashed #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    text-shadow: -1px -1px #aa3030;
    font-weight: normal;
}