.top-menu{
  float: left;
  border-bottom:1px solid #EBECEF;
  position: relative;
  z-index: 3;
  border: 0;
  -webkit-box-shadow: inset 0 1px 0 #F8F9F9, 0 0 0 1px rgba(14, 16, 18, 0.1), 0 1px 2px 0 rgba(14,16,18,0.1);
  padding: 0;
  line-height: 44px;
  border-radius: 3px;
  margin: 0 0 18px 1px;
}

.dropdownbtn{
  padding: 14px !important;
}

.sorting{
  float: left;
}

.category{
  display: block;
  z-index: 1;
  position: absolute;
  top:45px;
  left:0;
  width: 350px;
  background: #FFF;
  box-shadow: 0 -1px 0 #C9CACA, 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 4px 0 rgba(0,0,0,0.3);
  border-radius: 0 0 3px 3px;
}

.viewer{
  position: absolute;
  right:16px;
  top: 50%;
  margin-top:-6px;
}

.viewer li {
  float: left;
}

.viewer a {
  position: relative;
  display: block;
  color: #4a3cff;
  font-weight: bold;
  font-size: 11px;
  margin-left: 10px;
  line-height:24px;
  z-index:1;
  overflow: hidden;
}