$brand-primary:         #967ADC;
$brand-success:         #A0D468;


@import '../lib/bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets';
@import '../lib/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import url(//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css);
@import '../lib/angular-material/angular-material.min.css';
//@import '../lib/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons';

// Import scss Files
// Reset
@import "reset";
//@import "unreset";
// Some Mixins
@import "mixins";
// Page body style
@import "page";
// Incontent
@import "incontent";
@import "gview";

@import "menubox";
@import "googlemap";
@import "wizard";

//fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900,700);
@import url(http://fonts.googleapis.com/css?family=Asap:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

//@import "productionDescription";

@import "basic";
@import "front-page";
@import "admin";

@import 'core-home';
@import 'ui-calendar';
@import 'ddak';
@import 'banner';

@import 'ribbon'; //Upper right corner ribbon
@import 'gdriveapps-weather';
@import 'sellerInterface';

body{
  overflow-x:hidden;
}