$brand-primary:         #967ADC;
$brand-success:         #A0D468;


@import '../lib/bootstrap-sass-official/assets/stylesheets/bootstrap';
// Import scss Files
// Reset
@import "reset";
// Some Mixins
@import "mixins";
// Page body style
@import "page";
// Incontent
@import "incontent";
@import "gview";
@import "menubox";
@import "googlemap";


body {
  margin: 0;
}

.sample {
  background: $brand-success;
}