<html data-ng-app="ilbeApp" data-ng-csp="">
    <head>
        <title>Weather</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="assets/style.css" />

        <script type="text/javascript" src="lib/jquery-1.7.2.min.js"></script>
        <!--
        <script type="text/javascript" src="lib/iscroll.js"></script>
        <script type="text/javascript" src="weather.js"></script>
        -->
    </head>

    <body data-ng-controller="MainCtrl"  data-ng-click="console.log('11');">
        <br/>
        <div class="well" id="datetime">
            <h1>{{ date.raw | date:'hh : mm : ss' }}</h1>
            <h2>{{ date.raw | date:'EEEE, MMMM yyyy' }}</h2>
        </div>
        <hr>
        
        <div class="well">
          <h3>오늘의 운세</h3>
          <h4> Loading ... </h4>
        </div>
        <!--
        <select ng-model="myBoard" ng-options="board.name for board in boards" ng-change="changeValue(myBoard)">
        </select><br>
        <h4 data-ng-mouseover="console.log('11');"> JJal Best </h4>
        <h5 data-ng-repeat="article in articles">{{article.innerText}}</h5>
        <!--
        <webview id="foo" src="http://kevangular.herokuapp.com/#!/a-main" style="width:640px; height:480px"></webview>
        -->
        <webview id="foo" src="http://m.ilbe.com/" style="width:355px; height:600px"></webview>

    <!--
        <div id="close"></div>
        <div id="settingsToggle"></div>

        <div id="settings" class="hidden">
            <div id="source">
                Powered by <a href="http://www.worldweatheronline.com/" title="Free local weather content provider" target="blank">World Weather Online</a>
            </div>

            <div id="new">
                <input id="searchterm" type="text" /><br>
                <div id="error-message" class="hidden"></div>
                <div id="add" class="button blue">ADD</div>
                <div id="cancel" class="button">CANCEL</div>
            </div>

            <input type="radio" name="temp-type" class="F" value="F">FAHRENHEIT</input>
            <input type="radio" name="temp-type" class="C" value="C">CELSIUS</input>

            <div id="cities-list"></div>
        </div>

        <div id="loading">
          <div>
            <img src="img/sunny.png" />
            <p>
              <h5>
                Checking the Weather
                {{ date.raw | date:'hh mm ss' }}
              </h5>
            </p>
          </div>
        </div>

        <div id="wrapper">
          <div id="weather"></div>
        </div>

        <div id="dots">https://www.google.com/images/srpr/logo11w.png
            <div id="prev"></div>
            <div id="next"></div>
        </div>
-->
        <script src="js/angular.min.js"></script>
        <!--
        <script src="js/angular-route.min.js"></script>
        -->
        <script src="js/app.js"></script>
    </body>
</html>
