<!-- This view is the temporal view for testing masonry-->
<section data-ng-controller="GviewController">

		<h2>YouTube Directive</h2>
    <youtube width="200" height="300" videoid="abc"></youtube>

    <br />
    Width:<input type="text" ng-model="yt.width">
    Height:<input type="text" ng-model="yt.height">
    Videoid:<input type="text" ng-model="yt.videoid">

    <br />

    <button ng-click="sendControlEvent(YT_event.PLAY)">Send Play</button>
    <button ng-click="sendControlEvent(YT_event.PAUSE)">Send Pause</button>
    <button ng-click="sendControlEvent(YT_event.STOP)">Send Stop</button>

    <p>Player status is: {{yt.playerStatus}}</p>




		<br>
		<br>
		<hr />
    <watch-shop></watch-shop>

    <div style="margin-top:2cm">
        <input type="text" ng-model="nameFilter" />
        <a href="#" ng-click="order = 'id'">Order by id</a>
        <a href="#" ng-click="order = 'name'">Order by name</a>
        <a href="#" ng-click="order = 'age'">Order by age</a>

        <ul class="grid" masonry="true">
            <li ng-repeat="item in items | filter: { name: nameFilter } | orderBy: order" style="margin-top:1cm">
                            <span>{{item.name}}</span>
                    <br />  <span>Age: {{item.age}}</span>
                    <br />  <span>Company: {{item.company}}</span>
            </li>
        </ul>
    </div>


</section>