<section data-ng-controller="MenulistController">
	<!--
	    Directive
            menulist is calling service to get a its data from database
	-->
    <br/>
    <br/>
    <br/>

    <h3>Menu Items</h3>
    <p>Enter: Rotation += 180 Degree and Oapcity to 0<p>
    <p>Leave: Rotation += 180 Degree and Oapcity to 0<p>

    <section class="wrapper cl">
        <button class="btn-primary" ng-click="fadeIt()">Click</button>
        <div class="badge" hide-me="isHidden">Fade me</div>
        <div class="badge" hide-me="isHidden">or Not</div>
        <div hide-me="isHidden" ng-repeat="content in contents">
            <menulist source='content'
                      picture='menuPic'
                      desc ='menuDesc'
                       ></menulist>
        </div>
    </section>
</section>