<section data-ng-controller="TestpolymerController" >
    <style>
        core-header-panel {
            height: 100%;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
        core-toolbar {
            background: #03a9f4;
            color: white;
        }
        #tabs {
            width: 100%;
            margin: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .container1 {
            width: 80%;
            margin: 50px auto;
        }
        @media (min-width: 481px) {
            #tabs {
                width: 200px;
            }
            .container1 {
                width: 400px;
            }
        }
    </style>
    <h3> Polymer User List Example </h3>

    <div style="height:500px"">
        <core-header-panel>
            <core-toolbar>
                <paper-tabs id="tabs" selected="all" valueattr="name" self-end>
                    <paper-tab name="all" ng-click="getAllUsers()">ALL</paper-tab>
                    <paper-tab name="favorites" ng-click="getFavorites()">FAVORITES</paper-tab>
                </paper-tabs>
            </core-toolbar>

            <div class="container1" layout vertical center>

                <post-card ng-repeat="post in posts">
                        <img ng-src="{{post.avatar}}">
                        <h2>{{post.username}}</h2>

                        <p>{{post.text}}</p>

                </post-card>
                <!--
                    polymer databinding
                <post-list show="all"></post-list>
                -->
            </div>
        </core-header-panel>
    </div>

    <script>
        var list = document.querySelector('post-list');
        var tabs = document.querySelector('paper-tabs');

        tabs.addEventListener('core-select', function() {
            list.show = tabs.selected;
        });
    </script>
    <!-- Dialog -->
    <h3>Polymer Dialog Message Example</h3>
    <paper-dialog heading="Dialog" transition="paper-dialog-transition-center">
        <p>Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.</p>
        <p>Id qui scripta laboramus dissentiet, verterem partiendo vim at. Stet dissentiet ut mei. Iriure facilis eloquentiam pro eu, nec an esse inciderint. In meliore abhorreant sea. Eros nostro ocurreret at nec. Cu per regione persecuti.</p>
        <p>Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.</p>

        <paper-button label="More Info..." dismissive></paper-button>
        <paper-button label="Decline" affirmative></paper-button>
        <paper-button label="Accept" affirmative autofocus></paper-button>
    </paper-dialog>

    <paper-dialog heading="Dialog" transition="paper-dialog-transition-bottom">
        <p>Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.</p>
        <p>Id qui scripta laboramus dissentiet, verterem partiendo vim at. Stet dissentiet ut mei. Iriure facilis eloquentiam pro eu, nec an esse inciderint. In meliore abhorreant sea. Eros nostro ocurreret at nec. Cu per regione persecuti.</p>
        <p>Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.</p>

        <paper-button label="More Info..." dismissive></paper-button>
        <paper-button label="Decline" affirmative></paper-button>
        <paper-button label="Accept" affirmative autofocus></paper-button>
    </paper-dialog>

    <paper-button label="Transition A" ng-click="toggleDialog('paper-dialog-transition-bottom')"></paper-button>
    <paper-button label="Transition B" ng-click="toggleDialog('paper-dialog-transition-center')"></paper-button>

    <!--
    <core-toolbar>
        <core-icon-button icon="menu"></core-icon-button>
        <span flex>Toolbar1</span>
        <core-icon-button icon="refresh"></core-icon-button>
        <core-icon-button icon="add"></core-icon-button>
    </core-toolbar>

    <hr/>

    <core-toolbar class="dark-theme">
        <core-icon-button icon="menu"></core-icon-button>
        <span flex>Toolbar: dark-theme</span>
        <core-icon-button icon="refresh"></core-icon-button>
        <core-icon-button icon="add"></core-icon-button>
    </core-toolbar>

    <hr/>

    <core-toolbar class="tall">
        <core-icon-button icon="menu"></core-icon-button>
        <span flex>Toolbar: tall</span>
        <core-icon-button icon="refresh"></core-icon-button>
        <core-icon-button icon="add"></core-icon-button>
    </core-toolbar>

    <hr/>

    <core-toolbar class="tall">
        <core-icon-button icon="menu" class="bottom"></core-icon-button>
        <span flex class="bottom">Toolbar: tall with elements pin to the bottom</span>
        <core-icon-button icon="refresh" class="bottom"></core-icon-button>
        <core-icon-button icon="add" class="bottom"></core-icon-button>
    </core-toolbar>

    <hr/>

    <core-toolbar class="medium-tall">
        <core-icon-button icon="menu"></core-icon-button>
        <span flex></span>
        <core-icon-button icon="refresh"></core-icon-button>
        <core-icon-button icon="add"></core-icon-button>
        <span class="bottom indent">Toolbar: medium-tall with label aligns to the bottom</span>
    </core-toolbar>

    <hr/>

    <core-toolbar class="tall">
        <core-icon-button icon="menu"></core-icon-button>
        <div flex></div>
        <core-icon-button icon="refresh"></core-icon-button>
        <core-icon-button icon="add"></core-icon-button>
        <div class="middle indent">label aligns to the middle</div>
        <div class="bottom indent" style="color: #666; font-size: 18px;">some stuffs align to the bottom</div>
    </core-toolbar>

    <hr/>

    <core-toolbar class="tall">
        <core-icon-button icon="menu"></core-icon-button>
        <div flex></div>
        <core-icon-button icon="refresh"></core-icon-button>
        <core-icon-button icon="add"></core-icon-button>
        <div class="middle indent">element (e.g. progress) fits at the bottom of the toolbar</div>
        <div class="bottom fit" style="height: 20px; background-color: #0f9d58;"></div>
    </core-toolbar>
    -->
</section>