<div data-ng-controller="ProductListCtrl">
    <div class="debug-mode">
        view: product_list.html<br/>
        ctrl: {{controllerName}}
    </div>

    <div class="home-product-title">상품 페이지</div>
    <section class="posts" ng-repeat="product in products">
        <div class="post-preview home-product-title">
            <img class="photo" data-ng-src="{{product.mainimg}}"/>
            <h3>{{product.name}}</h3>
            <h5>{{product.price}}원</h5>
            <p>{{product.description}}</p>
        </div>
    </section>
</div>