<div data-ng-controller="mainCtrl">
    <div class="home-box">
        <div ng-repeat="product in products"
             class="home-product-well home-product-title" home-select-anni>
                {{product.name}}
        </div>
    </div>
    <!-- Test Product -->
    <section class="posts" expand-menu>

        <div class="post-preview">
            <img class="photo"
                 data-ng-src="{{todos[0].uri}}"/>
            <h3>냐옹찡</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac enim dapibus, tempus lectus ac, vestibulum turpis. Mauris risus quam, egestas a blandit non, faucibus at tortor.</p>
        </div>
    </section>
</div>