<div data-ng-controller="mainCtrl">
    <div class="debug-mode">
        view: product_home.html<br/>
        ctrl: {{controllerName}}
    </div>

    <div class="home-box">
        <div ng-repeat="product in products"
             class="home-product-well home-product-title" home-select-anni>
                {{product.name}}
        </div>
    </div>

    <!-- Test Read Ilbe Contents -->
    <div ng-controller="ilbeReviewCtrl">

        <div class="debug-mode">
            view: product_home.html<br/>
            ctrl: {{controllerName}}

        </div>
        <div class="well">{{contents}}</div>
    </div>


</div>