<div ng-controller="ProductListCtrl">
    <div class="debug-mode">
        view: product_detail.html<br/>
        ctrl: {{controllerName}}
    </div>

    <section class="posts">
        <div class="post-preview home-product-title" product-select-detail>
            <img class="photo" data-ng-src="{{detailProduct.mainimg}}"/>
            <h3>{{detailProduct.name}}</h3>


            <h5>{{detailProduct.price}}원</h5>
            <p>{{detailProduct.description}}</p>
            <h5>Detail View</h5>
            <button ng-click="runDemoButton()"><i class="fa fa-credit-card fa-lg"></i> Payment</button>
        </div>
        <!-- TODO: Product options -->
        <!-- TODO: Product Payment Form -->
        <!-- TODO: Payment -->
    </section>
</div>