<div data-ng-controller="IdentityCtrl" data-ng-init="googlePlusUserLoader.onload()">
    <div class="header">
        <div class="home-product-title">
            Identity API
        </div>
        <div class="links">(experimental)</div>
        <div class="links">
            Learn more:
            <a target="_blank" href="http://developer.chrome.com/apps/app_identity.html">API docs</a>
            <a id="_open_snippets" href="#">Source</a>
        </div>
        <hr>
    </div>
    <div class="flows">
        <h5>OAuth on Google properties</h5>
        <div class="flow">
            <button log-in id="signin">Sign in</button>
            <button id="getxhr">Get personal data</button>
            <button id="revoke">Revoke token</button>
            <div id="user_info"></div>
        </div>
    </div>
    <div class="log">
        <textarea id="__sample_support_logarea" disabled></textarea>
    </div>
</div>