
<div data-ng-controller="productEditorCtrl" ng-init="init()">
    <div class="debug-mode">
        view: product_editor.html<br/>
        ctrl: {{controllerName}}
    </div>

    <div class="home-box">
        <div ng-repeat="brand in brands"
             class="home-product-well home-product-title" home-select-anni>
            {{brand.name}}
        </div>
    </div>

    <!--
    <h3 id="title">Editor Page</h3>
    <frames-anni>
        <h5>This is an editor view 12345</h5>
        <div id="main-view" style="height:520px; width:273px; background-color: #ffffff">
            <div anni-text text-data="안녕하세요 안녕하세요 안녕하세요안녕하세요 안녕하세요 안녕하세요 안녕하세요
            안녕하세요안녕하세요안녕하세요">
            </div>
            <hr>
            <div anni-text text-data="안녕하세요 안녕하세요 안녕하세요안녕하세요 안녕하세요 안녕하세요 안녕하세요
            안녕하세요안녕하세요안녕하세요">
            </div>
            <hr>
            <div anni-text text-data="안녕하세요 안녕하세요 안녕하세요안녕하세요 안녕하세요 안녕하세요 안녕하세요
            안녕하세요안녕하세요안녕하세요">
            </div>
        </div>

    </frames-anni>
    <hr/>
    -->
    <div smooth-button class="circle-container" ng-click="play();">d</div>
    <div smooth-button class="circle-container" ng-click="play();">1</div>
    <div smooth-button class="circle-container" ng-click="play();">2</div>
</div>