<!--
Style Asset Info:
TestStyle.scss
-->
<div ng-controller="ProductListCtrl">
    <div class="debug-mode">
        view: product_detail.html<br/>
        ctrl: {{controllerName}}
    </div>

    <section class="posts">
        <div class="post-preview home-product-title">
            <img class="photo" data-ng-src="{{detailProduct.mainimg}}"/>
            <h3>{{detailProduct.name}}</h3>
            <h5>상세정보</h5>
            <h5>{{detailProduct.price}}원
                <button class="btn btn-success btn-sm" ng-click="runDemoButton()"><i class="fa fa-credit-card fa-lg"></i> 구매하기</button>
            </h5>
            <p>{{detailProduct.description}}</p>
        </div>

        <!-- TODO: Product options -->
        <!-- TODO: Product Payment Form -->
        <!-- TODO: Payment -->
    </section>
</div>