<section id="main" ng-controller="storage" ng-init="find()">
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
<br><br><br>
    <div style="margin:25px">
        <div class="well" id="content">
            <div class="core-subtitle">Temporal Authentication</div>
            <pre>This Authentication process would be done when seller login at Production Version</pre>
            <input type="button" value="{{authName}}" ng-click="init()">
            <!--
            <pre>{{rootGdriveFolderID}}</pre>
            -->
        </div>

        <div class="well">
            <div class="core-subtitle">Upload Image & Image Select</div>
            <input id="filePicker" style="display: none" ng-disabled="isAuth == false" type="button" value="upload to GDrive" ng-click="setupPicker()">
            <pre>You can upload and select from Google Drive</pre>
    <!--
            <input type="file" id="filePicker" style="display: none" />
    -->
            <div class="well">
                <!--
                <pre >{{file}}</pre>
                -->
                <img style="margin-left:15px; margin-bottom: 15px" ng-repeat="file in files" select-img my-slider="file" index={{$index}} on-change-status="onChangeStatus()" class="sellerInterfaceItemImg" ng-src="{{ arrive && permalLink + file.id || ''}}">
            </div>
        </div>

        <div class="well">
            <div class="core-subtitle">Product Information <div style="font-size:small">총 상품 갯수: {{products.length}}</div></div>
            <pre>You can create, edit or delete product information</pre>

            <div select-section class="well" ng-repeat="product in products" product-editor>
                <div class="main-product-title">{{product.name}}</div>
                <div ng-if="false">
                    <h6>상품이름: {{product.name}}</h6>
                    <h6>상품사진: {{product.mainimg}}</h6>
                    <h6>가격: {{product.price}}</h6>
                    <!-- Detail Information -->
                    <pre>{{product}}</pre>
                </div>
          </div>

        </div>
    </div>
</section>