<section id="main" ng-controller="storage" ng-init="find()">
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
<br><br><br>
    <div style="margin:25px">
        <div class="well" id="content">
            <div class="core-subtitle">Temporal Authentication</div>
            <pre>This Authentication process would be done when seller login at Production Version</pre>
            <input type="button" value="{{authName}}" ng-click="init()">
            <!--
            <pre>{{rootGdriveFolderID}}</pre>
            -->
        </div>

        <div class="well">
            <div class="core-subtitle">Upload Image & Image Select</div>

            <input id="filePicker" ng-disabled="isAuth == false" type="button" value="upload to GDrive" ng-click="setupPicker()">
            <pre>You can upload and select from Google Drive</pre>
    <!--
            <input type="file" id="filePicker" style="display: none" />
    -->
            <div class="well">
                <!--
                <pre >{{file}}</pre>
                -->
                <img style="margin-left:15px; margin-bottom: 15px" ng-repeat="file in files" select-img my-slider="file" index={{$index}} on-change-status="onChangeStatus()" class="sellerInterfaceItemImg" ng-src="{{ arrive && permalLink + file.id || ''}}">
            </div>
        </div>

        <div class="well">
            <div class="core-subtitle">Product Information <div style="font-size:small">총 상품 갯수: {{products.length}}</div></div>
            <pre>You can create, edit or delete product information</pre>

            <div select-section class="well" ng-repeat="product in products" product-editor>
                <div style="font-size:14px">{{product.name}}</div>
                <div style="font-size:12px" layout="vertical" layout-sm="horizontal" layout-padding>
                    <div  flex>
                        <div>상품이름: {{product.name}}</div>
                    </div>
                    <div flex>
                        <div>가격: {{product.price}}</div>
                    </div>
                    <div flex>
                        <div>상품사진: <img ng-src="{{product.mainimg}}" style="width:50px"></div>
                    </div>
                    <div flex>
                        <div>Cuatro [flex]</div>
                    </div>
                </div>

                <div ng-controller="BottomSheetExample" class="bottom-sheet-demo inset" layout="vertical" layout-sm="horizontal" layout-align="center">
                    <md-button class="md-raised md-primary" ng-click="showListBottomSheet($event)">
                        Edit Button
                    </md-button>
                    <div style="width:50px; height: 15px;"></div>
                    <md-button class="md-raised md-primary" ng-click="showGridBottomSheet($event)">
                        Upload Image
                    </md-button>
                </div>
                <div ng-if="false">
                    <h6>상품이름: {{product.name}}</h6>
                    <h6>상품사진: {{product.mainimg}}</h6>
                    <h6>가격: {{product.price}}</h6>
                    <!-- Detail Information -->
                    <pre>{{product}}</pre>
                </div>
          </div>

        </div>
    </div>

    <div layout="vertical" md-theme="light-blue-dark">
        <md-content>
        <form style="padding: 20px;">
            <div class="row">
                <md-text-float label="Title" ng-model="user.title"></md-text-float>
                <md-text-float label="eMail" ng-model="user.email" type="email"></md-text-float>
            </div>
        </form>
    </md-content>

        <md-content >
            <form style="padding: 20px;">
                <md-text-float label="Company" ng-model="user.company" disabled> </md-text-float>
                <div class="row">
                    <md-text-float label="FirstName" ng-model="user.firstName"> </md-text-float>
                    <md-text-float label="LastName" ng-model="user.lastName" class="long"> </md-text-float>
                </div>
                <md-text-float label="Address" ng-model="user.address"> </md-text-float>
                <div class="row">
                    <md-text-float label="City" ng-model="user.city"> </md-text-float>
                    <md-text-float label="State" ng-model="user.state"> </md-text-float>
                    <md-text-float label="Postal Code" ng-model="user.postalCode"> </md-text-float>
                </div>
                <md-text-float label="Country" ng-model="user.country" disabled> </md-text-float>
            </form>
        </md-content>
    </div>

    <div ng-controller="BottomSheetExample">
        <p style="padding-left: 20px;">
            Bottom sheet can be dismissed with the service or a swipe down.
        </p>
        <div class="bottom-sheet-demo inset" layout="vertical" layout-sm="horizontal" layout-align="center">
            <md-button class="md-primary" ng-click="showListBottomSheet($event)">
                Show as List
            </md-button>
            <div style="width:50px;"></div>
            <md-button class="md-primary" ng-click="showGridBottomSheet($event)">
                Show as Grid
            </md-button>
        </div>

        <br/>
        <b layout="horizontal" layout-align="center center" layout-padding>
            {{alert}}
        </b>
    </div>

    <md-content>

        <section layout="vertical" layout-sm="horizontal" layout-align="center center">
            <md-button>Button</md-button>
            <md-button noink class="md-primary">Primary (noink)</md-button>
            <md-button disabled class="md-primary">Disabled</md-button>
            <md-button class="md-warn">Warn</md-button>
            <div class="label">flat</div>
        </section>

        <section layout="vertical" layout-sm="horizontal" layout-align="center center">
            <md-button class="md-raised">Button</md-button>
            <md-button class="md-raised md-primary">Primary</md-button>
            <md-button disabled class="md-raised md-primary">Disabled</md-button>
            <md-button class="md-raised md-warn">Warn</md-button>
            <div class="label">raised</div>
        </section>

        <section layout="vertical" layout-sm="horizontal" layout-align="center center">
            <md-button class="md-fab" aria-label="Time">
                <md-icon icon="http://localhost:3000/modules/seller-interface/img/icons/ic_access_time_24px.svg&output=embed" style="width: 24px; height: 24px;"></md-icon>
            </md-button>

            <img ng-src="http://localhost:3000/modules/seller-interface/img/icons/ic_access_time_24px.svg">

            <md-button class="md-fab" aria-label="New document">
                <md-icon icon="http://localhost:3000/modules/seller-interface/img/icons/ic_insert_drive_file_24px.svg" style="width: 24px; height: 24px;"></md-icon>
            </md-button>

            <md-button class="md-fab" disabled arial-label="Comment">
                <md-icon icon="http://localhost:3000/modules/seller-interface/img/icons/ic_comment_24px.svg" style="width: 24px; height: 24px;"></md-icon>
            </md-button>

            <md-button class="md-fab md-primary" md-theme="cyan" aria-label="Profile">
                <md-icon icon="http://localhost:3000/modules/seller-interface/img/icons/ic_people_24px.svg" style="width: 24px; height: 24px;"></md-icon>
            </md-button>
            <div class="label">FAB</div>
        </section>

        <section layout="vertical" layout-sm="horizontal" layout-align="center center">
            <md-button class>Reset</md-button>
            <md-button class>RSVP</md-button>
            <div class="label">Button Group</div>
        </section>

        <section layout="vertical" layout-sm="horizontal" layout-align="center center">
            <md-button class="md-primary" md-theme="green">Button</md-button>
            <md-button class="md-primary md-raised" md-theme="indigo">Button</md-button>
            <md-button class="md-primary md-raised" md-theme="orange">Button</md-button>
            <md-button class="md-primary" md-theme="cyan">Button</md-button>
            <div class="label">Themed</div>
        </section>

    </md-content>

    <md-content>
        <md-card>
            <img src="http://drive.google.com/uc?export=view&id=0B8FisuvAYPTfMTM1MG1rSnNsMUk" class="md-card-image" alt="Washed Out" pagespeed_url_hash="73454173" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            <h2>명이나물</h2>
            <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
        </md-card>
    </md-content>

    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
        Checkbox 1: {{ data.cb1 }}
    </md-checkbox>

    <md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" ng-true-value="'yup'" ng-false-value="'nope'">
        Checkbox 2: {{ data.cb2 }}
    </md-checkbox>

</section>