<section data-ng-controller="BannersgalleryController" style="background-color:#EBECED">
	<div class="contents-ui">
		<h2>Urimium</h2>



		<p data-height="268" data-theme-id="0" data-slug-hash="qEBYxM" data-default-tab="result" data-user="dudleystorey" class='codepen'>See the Pen <a href='http://codepen.io/dudleystorey/pen/qEBYxM/'>"float center" effect</a> by Dudley Storey (<a href='http://codepen.io/dudleystorey'>@dudleystorey</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
		<script async src="//assets.codepen.io/assets/embed/ei.js"></script>

		<p data-height="268" data-theme-id="0" data-slug-hash="nkylt" data-default-tab="result" data-user="GreenSock" class='codepen'>See the Pen <a href='http://codepen.io/GreenSock/pen/nkylt/'>2 Explosions</a> by GreenSock (<a href='http://codepen.io/GreenSock'>@GreenSock</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
		<p data-height="268" data-theme-id="0" data-slug-hash="hifse" data-default-tab="result" data-user="multiplane" class='codepen'>See the Pen <a href='http://codepen.io/multiplane/pen/hifse/'>Spritesheets integrated in Greensock TimelineMax</a> by multiplane (<a href='http://codepen.io/multiplane'>@multiplane</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
		<p data-height="268" data-theme-id="0" data-slug-hash="oElzF" data-default-tab="result" data-user="auginator" class='codepen'>See the Pen <a href='http://codepen.io/auginator/pen/oElzF/'>Submit Button (GSAP edition)</a> by auginator (<a href='http://codepen.io/auginator'>@auginator</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
		<p data-height="268" data-theme-id="0" data-slug-hash="KJbIy" data-default-tab="result" data-user="GreenSock" class='codepen'>See the Pen <a href='http://codepen.io/GreenSock/pen/KJbIy/'>Draggable End Position</a> by GreenSock (<a href='http://codepen.io/GreenSock'>@GreenSock</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
		<p data-height="268" data-theme-id="0" data-slug-hash="CapmI" data-default-tab="result" data-user="rodriguesmarcos" class='codepen'>See the Pen <a href='http://codepen.io/rodriguesmarcos/pen/CapmI/'>Flattastic Pro Color Palette</a> by Marcos Rodrigues (<a href='http://codepen.io/rodriguesmarcos'>@rodriguesmarcos</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
		<p data-height="268" data-theme-id="0" data-slug-hash="rwsBa" data-default-tab="result" data-user="davestewart" class='codepen'>See the Pen <a href='http://codepen.io/davestewart/pen/rwsBa/'>GreenSock - Vehicle / wheel rotation</a> by Dave Stewart (<a href='http://codepen.io/davestewart'>@davestewart</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
		<p data-height="268" data-theme-id="0" data-slug-hash="ugByC" data-default-tab="result" data-user="robbue" class='codepen'>See the Pen <a href='http://codepen.io/robbue/pen/ugByC/'>3D page flip</a> by Robert Bue (<a href='http://codepen.io/robbue'>@robbue</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
		<p data-height="268" data-theme-id="0" data-slug-hash="KtcyI" data-default-tab="result" data-user="nickpettit" class='codepen'>See the Pen <a href='http://codepen.io/nickpettit/pen/KtcyI/'>Treehouse Flexbox Example</a> by Nick Pettit (<a href='http://codepen.io/nickpettit'>@nickpettit</a>) on <a href='http://codepen.io'>CodePen</a>.</p>


			<banner-front></banner-front>

			<octopus-banner></octopus-banner>
		</div>
	</div>
</section>