<html ng-app="productEditor" ng-csp="">
<head>
    <title>Frameless Window</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css" />
    <link rel="stylesheet" type="text/css" href="assets/animme.css" />
    <link rel="stylesheet" type="text/css" href="assets/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css" />
</head>

<body>
<br><br>
<div ng-controller="TabCtrl">
    <ul class="nav nav-pills" role="tablist">
        <li ng-repeat="tab in tabs" my-change><a ng-click="directToUrl(this)">{{tab.title}}</a></li>
    </ul>
    <div ng-view></div>
</div>

<div data-ng-controller="mainCtrl" id="top-titlebar" class="top-titlebar" style="background-color: rgb(122, 124, 124);">
    <div class="top-titlebar-icon">
        <img id="top-titlebaricon" src="top-titlebar.png">
    </div>
    <div class="top-titlebar-text">Urimium Editor</div>
    <div class="top-titlebar-close-button" ng-click="closeWindow()"><img id="top-titlebar-close-button" src="button_close.png"></div>
    <div class="top-titlebar-divider"></div>
</div>
    <script src="public/lib/jquery/dist/jquery.min.js"></script>
    <script src="public/lib/angular/angular.min.js"></script>
    <script src="public/lib/angular-route/angular-route.min.js"></script>
    <script src="public/lib/angular-resource/angular-resource.min.js"></script>
    <script src="public/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="public/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/GreenSock-js/src/minified/TweenMax.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/app2.js"></script>
</body>
</html>
