<section data-ng-controller="BrazilsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Brazils</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="brazil in brazils" data-ng-href="#!/brazils/{{brazil._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="brazil.created | date:'medium'"></span>
				by
				<span data-ng-bind="brazil.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="brazil.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!brazils.$resolved || brazils.length">
    	No Brazils yet, why don't you <a href="/#!/brazils/create">create one</a>?
    </div>
</section>