<div class="watch_container">
    <!--  list of meterial design components-->
    <link rel="import" href="/lib/core-icons/core-icons.html">
    <link rel="import" href="/lib/paper-button/paper-button.html">
    <link rel="import" href="/lib/paper-shadow/paper-shadow.html">

    <paper-shadow z="3">
        <!-- image -->
	      <h4>{{name}}</h4>
        <img class="img-rounded" ng-src='http://s3-media1.fl.yelpcdn.com/bphoto/QQDpeiQPdGdRS8eWPokYWA/l.jpg'/>

        <div class="watch-description">{{description}}</div>
        <div>
            <h4>Location</h4>
            <p>{{location}}</p>
            <h4>Hours</h4>
            <h5 ng-repeat="hour in hours">{{hour}}</h5>
            <h4>Menus</h4>
            <p>{{menus}}</p>
            <h4>Introduction</h4>
            <p>{{introduction}}</p>
        </div>
        <div>
            <paper-button label="Like" raisedButton ng-click="testClick()"></paper-button>
        </div>
    </paper-shadow>
</div>