<section data-ng-controller="MenulistController">
	<!--
	    Directive
            menulist is calling service to get a its data from database
	-->
    <br/>
    <br/>
    <br/>

    <div class="core-title">Menu Items</div>
    <br>
    <div class="well">
        <ul>
            <li>Enter: Rotation += 180 Degree and Oapcity to 0</li>
            <li>Leave: Rotation += 180 Degree and Oapcity to 0</li>
        </ul>
    </div>

    <section class="wrapper cl">
        <div class="badge" hide-me="isHidden" ng-click="fadeIt()">Fade out(Click)</div>
        <div class="badge" ng-if="isHidden" ng-click="fadeIt()">Fade in(Click)</div>
        <div hide-me="isHidden" ng-repeat="content in contents">
            <menulist source='content'
                      picture='menuPic'
                      desc ='menuDesc'
                       ></menulist>
        </div>
    </section>
</section>