<section data-ng-controller="AmapController">
	<br><br><br>
	<label>Address</label>
	<div class="container-fluid">
	<div class="well">
		<google-map center="map.center" zoom="map.zoom"></google-map>
	</div>
	<div class="well">
		<p>
			오시는 길

			I-494 East/West로 오시는경우
			I-494 E or W > Highway 5 East > Sheppard Rd. Exit > Sheppard Rd.에서 우회전 >
			Shepard Rd에서 Mississippi River Blvd로 변경 > Prior Ave S 에서 우회전 > 성당 도착.

			I-94 W 로 오시는 경우 (From Woodbury)
			I-94 W > Highway 10/61 S > Waner Rd에서 우회전 > Shepard Rd에서
			Mississippi River Blvd로 변경 > Prior Ave S에서 우회전 > 성당도착.

			I-35E N로 오시는 경우
			I-35E N > Shepard Rd. Exit, 좌회전 > Shepard Rd에서 Mississippi River Blvd로 변경 >
			Prior Ave S에서 우회전 > 성당 도착.

			I-35W South/North로 오시는 경우
			I-35W S or N > Highway 62/55 E > Highway 5 East >  Shepard Rd. Exit >
			Sheppard Rd.에서 우회전 > Shepard Rd에서 Mississippi River Blvd로 변경 >
			Prior Ave S 에서 우회전 > 성당 도착.

			I-94 East 로 오시는 경우
			I-94 E > I-35W S > Highway 62/55 E > Highway 5 E > Shepard Rd Exit ------ .
		</p>
	</div>
</section>