<section data-ng-controller="AmainController">
	<br>
	<br>
	<br>
	Main Page
	<div class="well"><a href="/#!/a-map">오시는 길</a></div>
	<div class="well">
			<label>평일미사</label>
			금요일 저녁 7:00
			<label>특전 미사</label>
			토요일 오후 4:00
			<label>고백성사</label>
			매 미사 전
			<label>주일미사(영어)</label>
			매 주일 오전10:00
			<label>주일미사(한국어)</label>
			매 주일 오전11:15
	</div>

	<div class="well">구역 정보</div>
	<div class="well"><a href="/#!/a-board">게시판</a></div>
	<div class="well">구역 정보</div>
	<div class="well">링크</div>
	<div class="well">레지오 마리애</div>
	<div class="well">전자주보</div>
	<div class="well">성당 앨범</div>
	<div class="well"><a href="/#!/a-info">성당 안내</a></div>
	<div class="well"><a href="/#!/a-events">행사 일정</a></div>
</section>