<section data-ng-controller="AmainController">

<br>
<br>
<br>
<div class="row row-centered">
    <div class=" col-md-3 col-centered">
        <div  class="well" banner-main-frame>
            <gan-jab></gan-jab>
            <ddak></ddak>
        </div>
    </div>
    <div class=" col-md-3 col-centered">
        <div  class="well" banner-main-frame>
            <div  style="font-family: 'Hanna', serif;
                            display:inline-block;
                            color: #2a3d29;
                            font-size:45px;
                            font-weight:300;">
                <h2>MC 무현 Collection</h2>
            </div>
            <br/>
            <youtube width="{{yt.width}}" height="{{yt.height}}" videoid="{{crntSong.videoid}}"></youtube>
            <div style="font-family: 'Hanna', serif;">
                <button id="pbutton" ng-click="sendControlEvent2(YT_event.PLAY)"> Play </button>
                <button id="pabutton" ng-click="sendControlEvent2(YT_event.PAUSE)"> Pause </button>
                <button id="sbutton" ng-click="sendControlEvent2(YT_event.STOP)"> Stop </button>
            </div>

            <p>Player status is: {{yt.playerStatus}}</p>

            <div style="font-family: 'Hanna', serif;">듣고 싶은 노래를 클릭하자!</div>
            <ul style="font-family: 'Hanna', serif;">
                <li ng-repeat="song in playList" ng-click="selectSong(song.id)">
                    <h4>{{song.id+1}}: {{song.name}}</h4>
                </li>
            </ul>
        </div>
    </div>
    <div class=" col-md-3 col-centered">
        <div  class="well" banner-main-frame>
            <p>
                <h2>화덕게이배너</h2>
                <h4>Coming Soon</h4>
            </p>
        </div>
    </div>
    <div class=" col-md-3 col-centered">
        <div  class="well" banner-main-frame>
            <p>Space 4</p>
        </div>
    </div>
    <div class=" col-md-3 col-centered">
        <div  class="well" banner-main-frame>
            <p>Space 5</p>
        </div>
    </div>
    <div class=" col-md-3 col-centered">
        <div  class="well" banner-main-frame>
            <p>Space 6</p>
        </div>
    </div>
    <div class=" col-md-3 col-centered">
        <div  class="well" banner-main-frame>
            <p>Space 6</p>
        </div>
    </div>
    <div class=" col-md-3 col-centered">
        <div  class="well" banner-main-frame>
            <p>Space 6</p>
        </div>
    </div>
    <div class=" col-md-3 col-centered">
        <div  class="well" banner-main-frame>
            <p>Space 6</p>
        </div>
    </div>
    <div class=" col-md-3 col-centered">
        <div  class="well" banner-main-frame>
            <p>Space 6</p>
        </div>
    </div>
    <div class=" col-md-3 col-centered">
        <div  class="well" banner-main-frame>
            <p>Space 6</p>
        </div>
    </div>
    <div class=" col-md-3 col-centered">
        <div  class="well" banner-main-frame>
            <p>Space 6</p>
        </div>
    </div>
</div>

<!--
        <div class="row">
            <div data-ng-controller="AAniGeneratorController">
                <div id="adList"></div>
            </div>


            <div class=" col-md-4">
                <div class="row">
                    <div  class="well" banner-main-frame>
                        <gan-jab></gan-jab>
                        <ddak></ddak>
                    </div>

                    <div  class="well" banner-main-frame>
                        <div  style="font-family: 'Hanna', serif;
                            display:inline-block;
                            color: #2a3d29;
                            font-size:45px;
                            font-weight:300;">
                            <h2>MC 무현 Collection</h2>
                        </div>
                        <br/>
                        <youtube width="{{yt.width}}" height="{{yt.height}}" videoid="{{crntSong.videoid}}"></youtube>
                        <div style="font-family: 'Hanna', serif;">
                            <button id="pbutton" ng-click="sendControlEvent2(YT_event.PLAY)"> Play </button>
                            <button id="pabutton" ng-click="sendControlEvent2(YT_event.PAUSE)"> Pause </button>
                            <button id="sbutton" ng-click="sendControlEvent2(YT_event.STOP)"> Stop </button>
                        </div>

                        <p>Player status is: {{yt.playerStatus}}</p>

                        <div style="font-family: 'Hanna', serif;">듣고 싶은 노래를 클릭하자!</div>
                        <ul style="font-family: 'Hanna', serif;">
                            <li ng-repeat="song in playList" ng-click="selectSong(song.id)">
                                <h4>{{song.id+1}}: {{song.name}}</h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class=" col-md-4">
                <div class="row">
                    <div  class="well" banner-main-frame>

                        <p>Space 2</p>
                    </div>

                    <div  class="well" banner-main-frame>
                        <p>Space 2-2</p>
                    </div>
                </div>
            </div>
            <div class=" col-md-4">
                <div class="row">
                    <div  class="well" banner-main-frame>
                        <p>Space 3</p>
                    </div>

                    <div  class="well" banner-main-frame>
                        <p>Space 3-2</p>
                    </div>
                </div>
            </div>
        </div>
-->
<!--
            <div class="well">
                    <div class="core-subtitle">creating a slider</div>
                    <div class="core-subtitle">options:</div>
                    <select ng-model="slideActions[0]" ng-options="slideAction.name for slideAction in slideActions"></select><br>
                    <div class="core-subtitle">background img</div>
                    <input type="text" ng-model="myModelObj">
                    <input type="file" ng-file-select="onFileSelect($files)">
                    <input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*">
                    <div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>
                    <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function"
                             ng-show="dropSupported">drop files here</div>
                    <div ng-file-drop-available="dropSupported=true"
                             ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
                    <button ng-click="upload.abort()">Cancel Upload</button>

                    <h2>Base64 File Encoder</h2>
                    <h4>Drop Files here</h4>
                    <div id="dropper"></div>
                    <div id="results"></div>

            </div>
            -->

<!--
<div class="core-title">Main Page</div>
<div class="row">

    <div class=" col-md-4">
        <div class="well">
            <a href="/#!/a-map">오시는 길</a>
        </div>
        <div class="well">
            <label>평일미사</label> <br>
            금요일 저녁 7:00 <br>
            <label>특전 미사</label> <br>
            토요일 오후 4:00 <br>
            <label>고백성사</label> <br>
            매 미사 전 <br>
            <label>주일미사(영어)</label> <br>
            매 주일 오전10:00 <br>
            <label>주일미사(한국어)</label> <br>
            매 주일 오전11:15 <br>
        </div>
    </div>
    <div class=" col-md-4">
        <div class="well">구역 정보</div>
        <div class="well"><a href="/#!/a-board">게시판</a></div>
        <div class="well">구역 정보</div>
        <div class="well">링크</div>
        <div class="well">레지오 마리애</div>
    </div>
    <div class=" col-md-4">
        <div class="well">전자주보</div>
        <div class="well">성당 앨범</div>
        <div class="well"><a href="/#!/a-info">성당 안내</a></div>
        <div class="well"><a href="/#!/a-events">행사 일정</a></div>
    </div>
</div>
-->


</section>