<section class="container container-top" data-ng-controller="SampleCtrlController">
    <br><br><br>
    <iframe src="https://docs.google.com/presentation/d/1bY_bSpHRtEWzym-37ZImE9vuGsDmpgNfOKLnAbEWjTM/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <!-- anything typed in here is magically saved to Firebase! -->
    <input type="text" data-ng-model="data.text"/>
    <!-- all changes from Firebase magically appear here! -->
    <h1>You said: {{ data.text }}</h1>

</section>