<section data-ng-controller="DetailProductController" ng-init="findOne()" >
	<br><br><br>
	<md-whiteframe class="md-whiteframe-z1 " layout layout-align="center center">
			<span>
				<h1>{{product.name}}</h1>

			</span>
	</md-whiteframe>
	<style>
		md-whiteframe {
			background: #fff;
			margin: 2px;
			padding: 2px; }
	</style>
	<div layout="vertical" layout-sm="horizontal" style="margin:5px;" layout-padding>

		<md-whiteframe flex class="md-whiteframe-z1 " layout layout-align="center center">
				<img style="width:100%" ng-src="{{product.mainimg}}"/>
		</md-whiteframe>


			<md-whiteframe flex class="md-whiteframe-z2 detail-info" layout layout-padding>
				<span>
					<h2>{{product.price}}원</h2>
					<h3>무료배송</h3>
					<h5>{{product.description}}</h5>
					<h5>ㅆㅅㅌㅊ 모니터 받침대 2</h5>
					<h5>ㅆㅅㅌㅊ 모니터 받침대 2</h5>
					<h5>ㅆㅅㅌㅊ 모니터 받침대 2</h5>
					<h5>ㅆㅅㅌㅊ 모니터 받침대 2</h5>
					<h5>ㅆㅅㅌㅊ 모니터 받침대 2</h5><h5>ㅆㅅㅌㅊ 모니터 받침대 2</h5>
					<h5>ㅆㅅㅌㅊ 모니터 받침대 2</h5>
					<h5>ㅆㅅㅌㅊ 모니터 받침대 2</h5>
					<h5>ㅆㅅㅌㅊ 모니터 받침대 2</h5>

				</span>
			</md-whiteframe>
	</div>

	<div layout="vertical" layout-sm="horizontal" style="margin:5px;" layout-padding>
		<md-whiteframe flex class="md-whiteframe-z3" layout layout-align="center center">
			<span>
				<h2>Hello World</h2>
					<h3>Hello World</h3>
			</span>
		</md-whiteframe>
		<md-whiteframe flex class="md-whiteframe-z4" layout layout-align="center center">
			<span>
				<h2>Hello World</h2>
					<h3>Hello World</h3>
			</span>
		</md-whiteframe>
	</div>

	<div layout="vertical" layout-sm="horizontal" style="margin:5px;" layout-padding>
			<md-whiteframe flex class="md-whiteframe-z5" layout layout-align="center center">
				<span>이야 기분 딱! 좋다</span>
			</md-whiteframe>
			<md-whiteframe flex class="md-whiteframe-z5" layout layout-align="center center">
				<span>
				<h2>Hello World</h2>
					<h3>Hello World</h3>
			</span>
			</md-whiteframe>

			<md-whiteframe flex class="md-whiteframe-z5" layout layout-align="center center">
				<span>
				<h2>Hello World</h2>
					<h3>Hello World</h3>
			</span>
			</md-whiteframe>
	</div>
	<div layout="vertical" layout-sm="horizontal" style="margin:5px;" layout-padding>
		<md-whiteframe flex class="md-whiteframe-z3">
			<h2>상세 상품설명</h2>
			<h3>Hello World</h3>
		</md-whiteframe>
	</div>
</section>