

@font-face {
    font-family: hanna;
    src: url(fonts/BM-HANNA.ttf) format('truetype');
}

@font-face {
    font-family: jejugothic;
    src: url(fonts/JejuGothic-Regular.ttf) format('truetype');
}

@font-face {
    font-family: jejuhallasan;
    src: url(fonts/JejuHallasan-Regular.ttf) format('truetype');
}

.class1{color:red}

.class2{color:blue}