

@font-face {
    font-family: hanna;
    src: url(BM-HANNA.ttf) format('truetype');
}

@font-face {
    font-family: jejugothic;
    src: url(JejuGothic-Regular.ttf) format('truetype');
}

@font-face {
    font-family: jejuhallasan;
    src: url(JejuHallasan-Regular.ttf) format('truetype');
}

.class1{color:red}

.class2{color:blue}