<section data-ng-controller="GwasT1Controller">
    <br><br><br>
    <style>
        .ace_editor { height: 500px; }
        .output{
            width: 100%;
            height: 500px;
        }
    </style>

    <div class="container">
        <div class="core-subtitle">example1</h2></div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div ng-model='example1' ui-ace="aceOptions">{{ example1 }}</div>
                <input type='submit' value='Submit' class='btn btn-success' ng-click='makeChart(1, example1)' />
            </div>
            <div class="col-md-8">
                <iframe class="output" id="output1" seamless></iframe>
            </div>
        </div>
        <br>
        <br>
        <div class="core-subtitle">example2</h2></div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div ng-model='example2' ui-ace="aceOptions">{{ example2 }}</div>
                <input type='submit' value='Submit' class='btn btn-success' ng-click='makeChart(2, example2)' />
            </div>
            <div class="col-md-8">
                <iframe class="output" id="output2" seamless></iframe>
            </div>
        </div>
    </div>
</section>